/*==================== Navbar component"s css start ====================*/

nav {
    height: 5rem;
    width: 100vw;
    display: grid;
    background: var(--color-primary);
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/*==================== Only show on medium and small screens ====================*/
.nav__toggle-btn {
    display: none;
}


.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo img{
    height: 2.7rem;
    display: block;
}

.nav__links {
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav__links a {
    transition: var(--transition);
}



.nav__links a:hover {
    color: var(--color-gray-500);
}

.active-nav {
    position: relative;
}


.active-nav::after {
    content: "";
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-primary);
    position: absolute;
    left: calc(50%- 0.6rem);
    transform: rotate(45deg);
    margin-top: 1rem;
}



/*==================== MEDIA QUERIES (mewdium and small screens) ====================*/

@media screen and (max-width: 1024px) {
    .nav__toggle-btn {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav__toggle-btn svg {
        color: var(--color-gray-100);
    }

    .nav__links{
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }


    .active-nav, .active-nav::after {
        display: none;
    }

    .nav__links li {
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.4);
        animation: navAnimation 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;

    }


    .nav__links li:nth-child(2) {
        animation-delay: 200ms;
    }

    .nav__links li:nth-child(3) {
        animation-delay: 400ms;
    }

    .nav__links li:nth-child(4) {
        animation-delay: 600ms;
    }

    .nav__links li:nth-child(5) {
        animation-delay: 800ms;
    }

    .nav__links li:nth-child(6) {
        animation-delay: 1s;
    }

    .nav__links li:nth-child(7) {
        animation-delay: 1.2s;
    }


    @keyframes navAnimation {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }



    .nav__links li a {
        background-color: var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1rem 5rem 1rem 3rem;
    }

    .show__nav {
        display: flex;
    }

    .hide__nav {
        display: none;
    }




}


/*==================== Navbar component"s css end ====================*/

/*==================== Main_Header component"s css start ====================*/

.main__header {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 3rem;

}


.main__header-container {
    height: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.main__header-left {
    margin-top: -3rem;
}
.main__header-left button {
        height: 3rem;
        padding: 16px 32px;
        font-weight: 700;
        font-size: 0.8rem;
        line-height: 18px;
        letter-spacing: 1.54px;
        text-transform: uppercase;
        cursor: pointer;
        background: none;
        color: 'white' ;
        border-radius: 4px;
        white-space: nowrap;
        padding:'12px 64px';
        font-size: '20px';
        outline: none;
        border: 2px solid 'white';
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 1112;
     }

        
    .main-button:before {
        background: 'white';
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 0.6s ease;
        width: 100%;
        height: 0%;
        transform: translate(-50%, -50%) rotate(45deg);}
        
    .main-button:hover:before {
            height: 500%;
        }
        
     .main-button:hover {
            color: 'black';
        }


     .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.432);
     }




.main__header-left .btn {
    padding: 1rem 1.5rem;
}

.main__header-left h4 {
    margin-bottom: 1rem;
    color: var(--color-secondary);
    font-weight: 400;
}

.main__header-left p {
    margin: 1rem 0 3.5rem;
    font-size: 1.1rem;
}


.main__header-right {
    display: grid;
    place-items: center;
    position: relative;
}

.main__header-circle {
    width: 25rem;
    height: 25rem;
    background: linear-gradient(75deg, #ffb116, transparent);
    border-radius: 50%;
    position: absolute;
}

.main__header-image {
    position: relative;
}

.main__header-right:hover .main__header-circle {
    filter:blur(15px);
    perspective: 400px;
}

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


/*==================== Main_Header component"s css End ====================*/

/*==================== Programs component"s css start ====================*/

.programs {
    margin-top: 4rem;

}

.programs__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 3rem;
    margin-top: 4rem;
}

.programs__program a {
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs__program:hover a {
    background: #ffb116;
    color: var(--color-gray-600);
}


/*==================== Programs component"s css End ====================*/
/*==================== Values component"s css start ====================*/

.values__container {
    display: grid;
    grid-template-columns: 38% 50%;
    gap: 12%;
}

.values__image {
    filter: saturate(0.25);
    transition: var(--transition);
    border-radius: 20%;
    margin-bottom: 2rem;
}

.values__image_ {
    display: none;
}

.values__image:hover {
    filter: saturate(1)
}

.values__right > p{
    margin: 1.5rem 0 5rem;
}

.values__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.4rem 2.4rem;
}

.card.values__value {
    padding-top: 3.5rem;
    text-align: left;
    position: relative;
}


.card.values__value span {
    position: absolute;
    top: -1.5rem;
}


/*==================== Values component"s css End ====================*/

/*==================== FAQs component"s css start ====================*/

.faqs__wrapper {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem 5rem;
    align-items: flex-start;
}

.faq {
    background: var(--color-gray-500);
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

.faq div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__icon {
    background: transparent;
    color: var(--color-gray-100);
    font-size: 1.5rem;
}

.faq p {
    margin-top: 1.5rem;
}


/*==================== FAQs component"s css End ====================*/


/*==================== Testimonials component"s css Start ====================*/

.testimonials {
    width: 50rem;
    margin-inline: auto;
}

.testimonials__head {
    justify-content: center;
}

.card.testimonial {
    position: relative;
    text-align: left;
    margin-top: 5rem;
}

.testimonial__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem;
    overflow: hidden;
    position: absolute;
    border: 2px solid transparent;
    top: -2rem;
    left: calc(50% - 2rem);
    box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
    transition: var(--transition);
}

.testimonial:hover .testimonial__avatar {
    border-radius: 50%;
    border-color: var(--color-gray-400);
}

.testimonial__quote {
    font-style: italic;
    margin: 1rem 0 2rem;
}

.card small.testimonial__title {
    margin-top: 0.3rem;
}

.testimonials__btn-container {
    width: fit-content;
    margin: 2.5rem auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.testimonials__btn {
    background: transparent;
    cursor: pointer;
}

.testimonials__btn svg {
    fill: var(--color-primary);
    font-size: 1.8rem;
    width: 3rem;
    height: 3rem;
}


/*==================== Testimonials component"s css End ====================*/




/*==================== Media Queries =================================*/

@media screen and (max-width: 1024px) {
    .main__header {
      height: fit-content;
      padding: 1rem 0;
        top: 0;
    }


    .overlay {
        height: 56vh;
    }

    .main__header-container { 
        gap: 0;
        
    }

    .main__header-circle {
        width: 16rem;
        height: 16rem;
    }

    .programs__wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .values__container {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }

    .values__wrapper{
        gap: 4rem 3rem;
    }

    .values__image {
        display: none;
    }

    .faqs__wrapper {
        grid-template-columns: 1fr;
    }

    .testimonials {
        width: 75%
    }


}


/*===== Mobile Phones ================*/


@media screen and (max-width: 600px) {
    .main__header {
        margin: 0 0 3rem;
        padding: 2rem 0;
        height: 100vh;
        top: 0;
    }

    .main__header-left {
        text-align: center;
    }




    .main__header h3, .main__header p  {
        display: none;
    }



    video {
        top: 0;

    }

    .main__header-container { 
       grid-template-columns: 1fr;
       top: 5rem;
       font-size: 1.5rem;
    }

    .main__header-container h1{ 
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 3rem;
     }

     
    .main__header-container p {
        color: var(--color-primary);
    }


    .main__header-circle {
        width: 70%;
        height: 80%;
        left: 3rem;
        top: 1rem;
    }

    .main__header-image {
        width: 80%;
    }


    .programs {
        margin-top: 13rem;
    }


    .programs__wrapper {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    .programs__program {
        width: 75%;
        margin: 0 auto;
    }

    .values__container {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 4rem;
    }
   
    .values__image_ {
        display: block;
    }
   
    .values__image_ img{
        border-radius: 2rem;
        width: 80%;
    }

    .values__wrapper{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .card.card.values__value {
        width: 84%;
        margin-inline: auto;
    }


    .faqs__wrapper {
        gap: 1rem;
        margin-top: 3rem;
    }

    .testimonials {
        width: 100%;
    }

    .overlay {
        height: 100vh;
    }

}




















